.wrap {
  position: relative;
  display: flex;
  align-items: center;

  & svg {
    position: absolute;
    top: 21.5px;
    left: 14px;
  }

  & input {
    width: 100%;
    background-color: $color-brown-100;
    margin: 0.5rem auto 0;
    padding: 0.8rem 2rem 0.7rem;
    border: none;
    border-radius: 0.4rem;
    color: $color-gray-400;
    font-size: 0.8rem;
    cursor: pointer;
  }
}
