.map {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  padding: 1rem 0rem 1rem 0.2rem;

  & svg:nth-child(2) {
    position: absolute;
    right: -10px;
  }
  cursor: pointer;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
