.header {
  @include center;
  position: relative;
  padding: 0.7rem 0;
  margin: 0 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  & svg:nth-of-type(1) {
    position: absolute;
    left: -12px;
  }
  & svg:nth-of-type(2) {
    position: absolute;
    right: 0;
  }
}
