$color-brown-100: #edede9;
$color-brown-200: #d6ccc2;
$color-brown-300: #f5ebe0;
$color-brown-400: #e3d5ca;
$color-brown-500: #d5bdaf;

$color-gray-100: #dee2e6;
$color-gray-200: #ced4da;
$color-gray-300: #adb5bd;
$color-gray-400: #6c757d;
