.map {
  width: 100%;
  flex-grow: 1;
  border: {
    top: $color-gray-200 1px solid;
    bottom: $color-gray-200 1px solid;
  }
  .myLocation {
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    z-index: 2;
    border: none;
    background-color: transparent;
    .gpsIcon {
      width: 40px;
      height: 40px;
      filter: drop-shadow(2px 1.5px 2px rgb(0 0 0 / 0.2));
    }
  }
}

.overlay {
  color: white;
  background-color: $color-brown-500;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  position: relative;
  bottom: 75px;
  animation: bounce 0.5s ease-in;
  transition: all 0.5s;
}

@keyframes bounce {
  50% {
    bottom: 85px;
  }
  100% {
    bottom: 75px;
  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  gap: 1.4rem;

  .addressWrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .address {
      font-size: 1.2rem;
      font-weight: 500;
    }

    & button {
      width: 100px;
      background-color: $color-brown-100;
      border: none;
      border-radius: 1rem;
      font-size: 0.7rem;
      padding: 0.3rem 0;
      letter-spacing: -0.76px;

      &:disabled {
        color: inherit;
        background-color: $color-gray-100;
      }
    }
  }
}
