.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.3rem;
  width: 100%;
  background-color: white;
  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: gray;
    cursor: pointer;
    &:hover {
      svg {
        fill: $color-brown-500;
      }
      color: $color-brown-500;
    }
  }
}
