.addrCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  div:nth-of-type(1) {
    flex-grow: 1;
    gap: 0.2rem;
    padding-bottom: 0.4rem;
    border-bottom: $color-brown-100 1px solid;
  }
  p {
    margin: 0;
  }
  p:nth-of-type(1) {
    font-weight: 700;
  }
}
